{% extends "templates/web.html" %}

{% macro email_login_body() -%}
{% if not disable_user_pass_login or (ldap_settings and ldap_settings.enabled) %}
<div class="page-card-body">
	<div class="form-group">
		<label class="form-label sr-only" for="login_email">{{ login_label or _("Email")}}</label>
		<div class="email-field">
			<input type="text" id="login_email" class="form-control"
				placeholder="{% if login_name_placeholder %}{{ login_name_placeholder  }}{% else %}{{ _('jane@example.com') }}{% endif %}"
				required autofocus autocomplete="username">

			<svg class="field-icon email-icon" width="16" height="16" viewBox="0 0 16 16" fill="none"
				xmlns="http://www.w3.org/2000/svg">
				<use class="es-lock" href="#es-line-email"></use>
			</svg>
		</div>
	</div>

	<div class="form-group">
		<label class="form-label sr-only" for="login_password">{{ _("Password") }}</label>
		<div class="password-field">
			<input type="password" id="login_password" class="form-control" placeholder="•••••"
				autocomplete="current-password" required>
			<svg class="field-icon password-icon" width="16" height="16" viewBox="0 0 16 16" fill="none"
				xmlns="http://www.w3.org/2000/svg">
					<use class="es-lock" href="#es-line-lock"></use>
			</svg>
			<span toggle="#login_password" class="toggle-password text-muted">{{ _('Show') }}</span>
		</div>
	</div>

	{% if not disable_user_pass_login %}
	<p class="forgot-password-message">
		<a href="#forgot">{{ _("Forgot Password?") }}</a>
	</p>
	{% endif %}
</div>
{% endif %}
<div class="page-card-actions">
	{% if not disable_user_pass_login %}
	<button class="btn btn-sm btn-primary btn-block btn-login" type="submit">
		{{ _("Login") }}</button>
	{% endif %}
	{% if ldap_settings and ldap_settings.enabled %}
	<button class="btn btn-sm {{ "btn-primary" if disable_user_pass_login else "btn-default" }} btn-block btn-login btn-ldap-login">
		{{ _("Login with LDAP") }}</button>
	{% endif %}
</div>
{% endmacro %}

{% block head_include %}
{{ include_style('login.bundle.css') }}
{% endblock %}

{% macro logo_section(title=null) %}
<div class="page-card-head">
	{% if title %}
	<h4>{{ _(title)}}</h4>
	{% else %}
	<h2 class="font-weight-bold">{{ _('Welcome Back') }}</h2>
	<h4>{{ _('Login your account and start your business') }}</h4>
	{% endif %}
</div>
{% endmacro %}
{% block page_content %}
<div
style="width: 100%; height: calc(100vh - 82px); display: flex; justify-content: center; align-items: center;"
>
<div style="width: 880px; height: 400px; background-color: #e5f2f2; border-radius: 17px; display: flex; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
		<div style="display: flex; align-items: center; width: 500px;">
			<img style="width: fit-content;" src="/assets/custom_theme/images/login-pt.png"/>
		</div>
		<div class="page-card-body">
			<form style="padding: 12px;" class="form-signin form-login" role="form">
				<h2 style="font-weight: bold;">Welcome Back</h2>
				<h4 style="margin: 1rem 0; font-size: 1rem; color: #8b8b8b;">Login your account and start your business</h4>
				<input
					type="text" id="login_email"
					class="form-control"
					placeholder="{% if login_name_placeholder %}{{ login_name_placeholder  }}{% else %}{{ _('jane@example.com') }}{% endif %}"
					required autofocus autocomplete="username"
					style="background-color: #fff; padding: 12px"
				>
				<input
					type="password" id="login_password" class="form-control"
					placeholder="•••••"
					style="margin-top: 1rem; background-color: #fff; padding: 12px"
					autocomplete="current-password" required
				>
				<p class="inject-status-text" style="font-size: 0.8rem; font-style: italic;"></p>
				<div style="display: flex; justify-content: space-between; align-items: center; margin-top: 1rem;">
					<button
						style="background-color: #0088cc; border-radius: 12px; flex: 1; color: #fff; border: none; padding: 8px;"
						type="submit"
						class="btn-primary"
					>
						Login
					</button>
					<a href="#" style="color: #0088cc; flex: 1; text-align: right; font-style: italic; font-size: 0.85rem;">Forgot Password?</a>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script>{% include "templates/includes/login/login.js" %}</script>
{% endblock %}

{% block sidebar %}{% endblock %}
